figcaption{
  display:block;
}
body{
  color:red;
  font-size:15px;
  
}
@font-face {
  font-family:airstrip_g ;
  src: url(/airstrip.ttf);
}
@import url();
%text-black{
  font-size: medium;
}
.grid_text{
  color:text-black;
}

